*{margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* font-size: 100%; */
  /* vertical-align: baseline; */
  background: transparent;
}
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

/*----- base barra---------*/
.contenedor{
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    margin: 0%;
    padding: 0%;
}

.barra{
    width: 100%;
    height: 10%;
    background-color: #EEF0F0;
    margin: 0%;
}

#logo_secretaria{
    position: absolute;
    height: 8%;
    margin: 0.5%;
    width: auto;
}

#logo_secretaria:hover{
    cursor: pointer;
}

#btn_inicia{
    float: right;
    margin: 1%;
}

/* ------ login -------*/
#form_login{
    width: 30%;
    height: 30%;
    background-color: #EEF0F0;
    top: 30vh;
    left: 35%;
    position: absolute;
}

.inp_login{
    width: 80% !important;
    margin-top: 4%;
    margin-left: 10%;
}

#btn_sesion{
    margin-top: 6%;
    margin-left: 40%;
}

/* ----- Barra seleccion ------ */
.menu{
    width: 10%;
    height: 100%;
    position: relative;
    float: left;
}

.menu:hover{
    background-color: darkgray;
    cursor: pointer;
}

#select_admin{
    left: 35%;
}

#select_even{
    left: 35%;
}

#select_cons{
    left: 35%;
}

.text_menu{
    text-align: center;
    margin-top: 14%;
}

.contenido{
    width: 100%;
    height: 90vh;
}

/* ----- administracion ----- */

.barra_catalogos{
    width: 60%;
    height: 15%;
    float: left;
    margin-top: 2%;
    margin-left: 20%;
    background:rgba(0, 0, 0, 0.205);
    border-radius: 2ch;
    /* background-color: #9A9A9A; */
}

.titulo_catalogos{
    margin-top: 3.7%;
    margin-left: 5%;
    font-size: large;
}

.barra_catalogos:hover{
    background:rgba(0, 0, 0, 0.342);
    cursor: pointer;
}