{% extends 'barra_seleccion.html' %}
{% block content %}
<div class="barra_catalogos" onclick="location.href = '/cat_paises'">
    <p class="titulo_catalogos">Catálogo Países</p>
</div>

<div class="barra_catalogos" onclick="location.href = '/cat_dependencias'">
    <p class="titulo_catalogos">Catálogo de Dependencias</p>
</div>

<div class="barra_catalogos" onclick="location.href = '/cat_departamentos'">
    <p class="titulo_catalogos">Catálogo de Departamentos</p>
</div>

<div class="barra_catalogos" onclick="location.href = '/cat_personas'">
    <p class="titulo_catalogos">Catálogo de Personas</p>
</div>

{% endblock %}