{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/Estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div class="contenedor">
        <div class="barra">
            <img src="../static/images/logo_cultura_preview_rev_1.png" id="logo_secretaria" onclick="location.href = '/home'"> <!--Boton para regresar a la pantalla principal de home por medio del logo -->
            <div class="menu" id="select_admin" onclick="location.href = '/administracion'"><p class="text_menu">Administración</p></div> <!--Boton para acceder a la configuración de administración -->
            <div class="menu" id="select_even"><p class="text_menu">Evento</p></div> <!--Boton para acceder a la configuración de evento -->
            <div class="menu" id="select_cons"><p class="text_menu">Consultas</p></div> <!--Boton para acceder a la configuración de Consultas -->
            <div class="menu" id="select_cons"><p class="text_menu">Opcion 4</p></div> <!--Boton para acceder a la configuración de Consultas -->
            <div class="menu" id="select_cons"><p class="text_menu">Opcion 5</p></div> <!--Boton para acceder a la configuración de Consultas -->
            <button type="button" class="btn btn-outline-dark" id="btn_inicia" onclick="location.href = '/'">Cerrar sesión</button> <!--Boton para activar el cierre de sesión -->
        </div>
        <div class="contenido">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>