{% extends 'barra_seleccion.html' %}
{% block content %}
<title>Catalogo Paises</title>

<h1 class="tit_pag_cat">Catalogo Paises</h1>
<div class="alerta_cat">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div class="formulario-cat">
    <form method="POST">
        {% csrf_token %}
        <div class="seleccion" id="select-continente">
            <select class="form-select" aria-label="Default select example" id="s_c_c" name="select_Continente">
                <option selected>Selecciona un continente</option>
                <option value="Asia">Asia</option>
                <option value="América">América</option>
                <option value="África">África</option>
                <option value="Antartida">Antartida</option>
                <option value="Europa">Europa</option>
                <option value="Oceanía">Oceanía</option>
            </select>
        </div>
        <div class="seleccion" id="select-pais-cat">
            <select class="form-select" aria-label="Default select example" id="s_p_c" onclick="ocultar('btn_agr','s_p_c','s_c_c','btn_edit','inp_pais')" name="select_Pais_cat">
                <option selected>Selecciona un país para editar</option>
                {% for pais in paises %}
                <option value='{{ pais.pais }}-{{ pais.continente }}'>{{ pais.pais }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="seleccion" id="div_inp_cat">
            <input class="form-control inp_login inp-cat" type="text" id="inp_pais" placeholder="País" aria-label="default input example" name="pais">
        </div>
        <div class="seleccion" id="btn-agr">
            <input type="submit" class="btn btn-success" id="btn_agr" name="btn_env" value="Agregar">
        </div>
        <div class="seleccion s_edit" id="btn-edit">
            <input type="submit" class="btn btn-success" id="btn_edit" name="btn_env" value="Editar">
        </div>
    </form>
</div>


<script type="text/javascript">
    function ocultar(id_btn_agr, id_s_p_c, id_s_c_c, id_btn_edit, id_inp_pais){
        var bot_agr = document.getElementById(id_btn_agr);
        var se_pais = document.getElementById(id_s_p_c);
        var se_continente = document.getElementById(id_s_c_c);
        var bot_edit = document.getElementById(id_btn_edit);
        var input_pais = document.getElementById(id_inp_pais);
        console.log("este es continente: ",se_continente.value);
        if(se_pais.value != 'Selecciona un país para editar'){
            bot_agr.style.display = "none";
            bot_edit.style.display = "inline";
            valor = se_pais.value
            guion = valor.indexOf('-')
            pais = valor.slice(0,guion)
            continente = valor.slice(guion+1)
            input_pais.value = pais
            se_continente.value = continente
        }
        else{
            bot_agr.style.display = "inline";
            bot_edit.style.display = "none";
            input_pais.value = "";
        }
}
</script>

{% endblock %}