{% extends 'base_barra.html' %}
{% block content %}
<div id="form_login">
    <input class="form-control inp_login" type="text" placeholder="Username" aria-label="default input example"> <!-- Input para ingresar el username -->
    <input class="form-control inp_login" type="password" placeholder="Password" aria-label="default input example"> <!-- Input para ingresar el password -->
    <button type="button" class="btn btn-success" id="btn_sesion" onclick="location.href = '/home'">Iniciar sesión</button> <!--Boton para mandar los datos del input y activar el inicio de sesión -->
</div>
{% endblock %}